<!DOCTYPE html>
<html lang="de" data-bs-theme="dark">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <base href="/" />
  <link rel="stylesheet" href="lib/jquery-ui/dist/themes/base/jquery-ui.min.css" />
  <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="app.css" />
  <link rel="stylesheet" href="BlazorBp.styles.css" />
  <link rel="icon" type="image/png" href="favicon.png" />
  <HeadOutlet />
</head>

<body>
  <div class="container-fluid ps-1" id="Seite">
    <Routes />
  </div>
  <script src="lib/jquery/dist/jquery.min.js"></script>
  <script src="lib/jquery-ui/dist/jquery-ui.min.js"></script>
  <script src="lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="lib/html-to-image/dist/html-to-image.min.js"></script>
  <script src="app.js"></script>
  <script src="_framework/blazor.web.js"></script>
</body>

<footer class="border-top footer text-muted">
  <div class="container">
    &copy; 2026 - BlazorBp - <a href="/impressum">Impressum</a>
  </div>
</footer>

</html>
