@using Microsoft.AspNetCore.Components
@inject NavigationManager Navigation

<!DOCTYPE html>
<CascadingValue Value="bsmode">
<html lang="de" id="theme-root" data-bs-theme="@bsmode">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <base href="/" />
  <link rel="stylesheet" href="lib/jquery-ui/dist/themes/base/jquery-ui.min.css" />
  <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="app.css" />
  <link rel="stylesheet" href="BlazorBp.styles.css" />
  <link rel="icon" type="image/png" href="favicon.png" />
  <HeadOutlet />
</head>

<body>
  <div class="container-fluid ps-1" id="Seite">
    <Routes />
  </div>
  <script src="lib/jquery/dist/jquery.min.js"></script>
  <script src="lib/jquery-ui/dist/jquery-ui.min.js"></script>
  <script src="lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="lib/html-to-image/dist/html-to-image.min.js"></script>
  <script src="app.js"></script>
  <script src="_framework/blazor.web.js"></script>
</body>
</html>
</CascadingValue>

@code {
  [CascadingParameter]
  protected HttpContext HttpContext { get; set; } = default!;

  private string bsmode = "";

  protected override void OnInitialized()
  {
    // Bootstrap Mode wird durch URL-Parameter bsmode geändert und in der Session gespeichert.
    var uri = Navigation.Uri;
    var uriQuery = new Uri(uri).Query;
    var queryParams = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uriQuery);
    if (queryParams.ContainsKey("bsmode"))
    {
      // Setze den Wert basierend auf dem Parameter
      bsmode = queryParams["bsmode"].FirstOrDefault()?.ToString() ?? "auto";
      if (bsmode != "light" && bsmode != "dark")
      {
        bsmode = "auto"; // Fallback auf "auto", wenn ungültiger Wert
      }
      if (bsmode != "auto" && HttpContext != null)
      {
        HttpContext.Session.SetString("bsmode", bsmode);
      }
    }
    else
    {
      bsmode = "auto"; // Default-Wert, falls kein Parameter vorhanden ist
      if (HttpContext != null)
      {
        var sessionValue = HttpContext.Session.GetString("bsmode");
        if (sessionValue == "light" || sessionValue == "dark")
        {
          bsmode = sessionValue;
        }
      }
    }
  }
}
