@page "/impressum"
<SectionContent SectionName="title">@title</SectionContent>
<PageTitle>@title</PageTitle>

<p>Es werden keine privaten Daten erhoben. Die Speicherung erfolgt rein lokal.</p>

@code {
  private string title = "Impressum";
}
